

$displayValues: (none, block, inline-block, flex, inline-flex, grid, inline-grid);
@each $displayValue in $displayValues {
    .d-#{$displayValue} {
        display: $displayValue !important;
    }
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}